nav {
  display:block;
  vertical-align: middle;
  height: 75px;
}

.header-logo {
  display: inline-block;
  width: 48%;
  vertical-align: middle;
}

.header-logo span {
  position: relative;
  top: -20px;
  right: -10px;
  color: white;

}
.top-nav {
  display: inline-block;
  width: 42%;
  text-align: right;
  padding-bottom: 10px;
}
.top-nav li {
  display: inline-block;
  padding: 2px;
  color: white;
}

.hero-bg {
  background-image: url(https://source.unsplash.com/random);
  background-size:cover;
}

.hero {
  padding:0 50px;

  background-color: rgba(0, 118, 202, 0.5);

}

.hero-text {
  color: white;
  margin: 0;
  text-align: center;
  padding: 75px;
}

.hero h1, .hero h6 {
  padding: 0;
  margin: 0;
}

.hero h1 {
  font-size: 75px;
  font-weight: lighter;
}
.main-wrapper {
  width: 90%;
  margin:auto;
}
.col-1 {
  width: 60%;
  display: inline-block;
}
.author {
  display: inline-block;
}
.author img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: relative;
  top: 4px;

}

.author .blueshade {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    background-color: rgba(0, 118, 202, 0.5);
    top: 4px;
    right: 25px;
    border-radius: 100%;
}
.author p {
  display: inline-block;
  color: #0077CC;
  margin-left: -20px;
}

.date {
  display: inline-block;
}

.date p {
  color: lightgrey;
}

.date span {
  text-decoration: underline;
}
h2 {
  font-size: 60px;
}

.standout {
  border-left: 2px solid lightgrey;
  color: #1A69B0;
  font-size: 170%;
  padding-left: 16px;
  margin-left: 10px;
  margin-top: 37px;
  margin-bottom: 37px;
}
.col-2 {
  width: 30%;
  display: inline-block;
  margin-left: 40px;
  vertical-align: top;
  padding-top: 54px;
}

.author-profile {
  position: relative;
}
.author-profile img {
  display: block;
  margin:auto;
  width: 75px;
  height: 75px;
  border-radius: 100%
}

.blueshade {
  display: inline-block;
  margin:auto;
  width: 75px;
  height: 75px;
  position: relative;
  background-color: rgba(0, 118, 202, 0.5);
  top: 0;
  right: 66px;
  border-radius: 100%;
}
.author-profile p {
  text-align: center;
  color: #0077CC;
}
.author-profile ul {
  padding: 0;
  text-align: center;
}

.author-profile li {
  display: inline-block;
  text-decoration: none;
  font-size: 8px;
  margin: auto;
  width: 28%;
}

.imgwrap {
  display: inline-block;
  width:100%;
  height: 309px;
  position: relative;
}

.blueshade1 {
  position:absolute;
  display: inline-block;
  margin:auto;
  width: 225px;
  height: 309px;
  background-color: rgba(0, 118, 202, 0.5);
}

.advertisement img {
  width: 225px;
  height: 309px;
}

.advertisement a {
  text-align: right;
  text-decoration;
  display: block;
    color: lightgray;

}


.sidebar {
  color: lightgray;
}

.sidebar h6 {
  color: #0077CC;
  font-size: 175%;
}

.bottombar h2 {
    text-align: center;
    border-top: 1px solid grey;
    padding-top: 20px;
}



.buttons li {
  display: inline-block;
}
